.Top{
    font-size: xxx-large;
}
section {
    border: 20px rgb(209, 209, 225);
    padding: 50px;
    margin: 75px;
    border-radius: 25px;
    background: rgb(192, 192, 212);
    padding: 20px;
  }
  body{
    background-color: gray;
  }
  h1 {text-align: right;}


  #shark-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  #shark-title{
    font-size: x-large;
  }
  .cover-1{
    object-fit: cover;
    width: 1100px;
    margin: 5px;
    height: 600px;
  }
.cover-2{
  object-fit: cover;
  width: 1100px;
  margin: 5px;
  height: 600px;
}
.cover-3{
  object-fit: cover;
  width: 1075px;
  margin: 9px;
  height: 600px;
}
#flex-col-b h1{
text-align: left;
font-size: x-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#flex-col-b p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#flex-col-c h1{
  text-align: left;
  font-size: x-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#flex-col-c p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#danger h1{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: xx-large;
}
.section1{
  display:flex;
  padding:40px;
  width: 95%;
  margin-bottom:auto;
}
.section1 img{
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  shape-outside: circle();
}
.section1 p{
  margin-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  font-size: large;
}
.section2{
  display:flex;
  padding:40px;
  width: 95%;
  margin-bottom:auto;
}
.section2 img{
width: 200px;
height: 200px;
float: left;
overflow: hidden;
object-fit: cover;
border-radius: 50%;
shape-outside: circle();
}
.section2 p{
  margin-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  font-size: large;
}
.section3{
  display:flex;
  padding:40px;
  width: 95%;
  margin-bottom:auto;
}
.section3 img{
width: 200px;
height: 200px;
float: left;
overflow: hidden;
object-fit: cover;
border-radius: 50%;
shape-outside: circle();
}
.section3 p{
  margin-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
  line-height: 1.5em;
  font-size: large;
}